/* .link {
  background-image: linear-gradient(to right, #54b3d6, #54b3d6 50%, #000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: white;
  transition: all 0.3s ease-in-out;
  color: "white";
} */

.link:hover {
  transition: all 1s;
  color: blue;
}

/* .link:hover::before {
  width: 100%;
}  */

.menu a span:first-child {
  display: inline-block;
  padding: 10px;
}

.menu a {
  display: block;
  position: relative;
  overflow: hidden;
}

.menu a span:last-child {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(100%);
}

.menu a span {
  transition: transform 0.4s ease-in-out;
}

.menu a:hover span:first-child {
  transform: translateY(-200%);
}

.menu a:hover span:last-child {
  transform: translateY(-6%);
}
